<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <!--       database connection-->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:./data/sqlite.db</property>

        <!--        sql dialect-->
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>


<!--                <property name="hbm2ddl.auto">create</property>-->

        <property name="hbm2ddl.auto">update</property>

        <mapping class="servermodels.users.User"/>
        <mapping class="servermodels.chatroom.Message"/>
        <mapping class="servermodels.users.Student"/>
        <mapping class="servermodels.users.Master"/>
        <mapping class="servermodels.department.Course"/>
        <mapping class="servermodels.department.Department"/>
        <mapping class="servermodels.cw.HomeWork"/>
        <mapping class="servermodels.cw.EducationalThing"/>
        <mapping class="servermodels.cw.Solution"/>
        <mapping class="servermodels.department.PassedCourse"/>
        <mapping class="servermodels.department.TemporaryCourse"/>
<!--        <mapping class="GameCards.Minion"/>-->
<!--        <mapping class="GameCards.Spell"/>-->
<!--        <mapping class="GameCards.Weapon"/>-->


    </session-factory>
</hibernate-configuration>